.contact-us-1{
    width: 100%;
    margin-top: 110px;
    height: 100%;
}
.contact-us-1 img{
    width: 100%;
    height: 77vh;
    object-fit: cover;
}
@media (max-width: 1800px){
    .contact-us-1 img{
        width: 100%;
        height: 100% !important;
    }
}
@media (max-width: 992px){
    .contact-us-1{
        margin-top: 80px;
    }
    .title-contact-us{
        font-size: 45px !important;
    }
}
@media (max-width: 520px){
    .contact-us-1-content{
        top: 35% !important;
    }
    .title-contact-us{
        font-size: 30px !important;
    }
}
@media (max-width: 1400px){
    .contact-us-1 .contact-us-1-content{
        gap: 5px !important;
    }
    .contact-us-1 .contact-us-1-content h1{
        font-size: 70px !important;
    }
    .contact-us-1 .contact-us-1-content p{
        font-size: 22px !important;
    }
}
@media (max-width: 992px){
    .contact-us-1 .contact-us-1-content h1{
        font-size: 55px !important;
    }
    .contact-us-1 .contact-us-1-content p{
        font-size: 17px !important;
    }
}
@media (max-width: 768px){
    .contact-us-1 .contact-us-1-content h1{
        font-size: 40px !important;
    }
    .contact-us-1 .contact-us-1-content p{
        font-size: 14px !important;
    }
}
@media (max-width: 550px){
    .contact-us-1 .contact-us-1-content h1{
        font-size: 32px  !important;
    }
}
@media (max-width: 450px){
    .contact-us-1 .contact-us-1-content h1{
        font-size: 25px !important;
    }
    .contact-us-1 .contact-us-1-content p{
        display: none;
    }
}