.contact-us-1{
    width: 100%;
    height: 70vh;
    margin-top: 110px;
}
.contact-us-1 img{
    width: 100%;
    height: 70vh;
}
@media (max-width: 1800px){
    .contact-us-1 img{
        width: 100%;
        height: 100% !important;
    }
}
@media (max-width: 992px){
    .contact-us-1{
        margin-top: 80px;
    }
    .title-contact-us{
        font-size: 45px !important;
    }
}
@media (max-width: 520px){
    .contact-us-1-content{
        top: 35% !important;
    }
    .title-contact-us{
        font-size: 30px !important;
    }
}