.contact-us-1{
    width: 100%;
    height: 100%;
    margin-top: 110px;
}
.contact-us-1 img{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px){
    .contact-us-1{
        margin-top: 80px;
    }
}