:root{
    --background-form: #07934b;
    --color-text-form: #ffffff;
    --heading-color-form: #5894c5;
    --border-color: #e0e0df;
    --placeholder-color: #a1b0b6;
    --submit-color: #0f4f83;
}
.form-Departemant{
    min-width: 668px;
    height: 100%;
}
@media (max-width: 1800px){
    .form-Departemant{
       min-width: 500px !important; 
    }
}
.form-Departemant .form-content h2{
    font-size: 20px;
    font-weight: 500;
    color: #0673B7;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 15px;
}
.form-Departemant .form-content form .input-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
}
.form-Departemant .form-content form .input-content .input-name,
.form-Departemant .form-content form .input-content .input-number,
.form-Departemant .form-content form .input-content .input-email,
.form-Departemant .form-content form textarea{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    color: #999999;
    letter-spacing: 0.5px;
    border: 1px solid #999999;
    border-radius: 3px;
}
.form-Departemant .form-content form .input-content input{
    padding: 15px;
}
.form-Departemant .form-content form textarea{
    width: 100%;
    height: 220px;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    caret-color: var(--submit-color);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
.form-Departemant .form-content form .input-content input::placeholder,
.form-Departemant .form-content form textarea::placeholder{
    padding-left: 5px;
}
.form-Departemant .form-content form .input-content input:focus,
.form-Departemant .form-content form textarea:focus{
    outline: none;
}
.form-Departemant .form-content form .submit-button{
    background-color: var(--submit-color);
    color: #ffffff;
    width: 100%;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 3px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}
.form-Departemant .form-content form .submit-button:hover{
    background-color: var(--background-form);
}
@media (max-width: 992px){
    .form-Departemant{
        width: 100%;
        margin-left: 0;
    }
}
@media (max-width: 768px){
    .form-Departemant{
       min-width: 100% !important; 
    }
    .form-Departemant .form-content{
        min-width: 100%;
    }
    .form-Departemant .form-content h2{
        font-size: 17px;
        font-weight: 300;
    }
    .form-Departemant .form-content form .input-content{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .form-Departemant .form-content form .input-content .input-name,
    .form-Departemant .form-content form .input-content .input-number,
    .form-Departemant .form-content form .input-content .input-email{
         width: 100%;
         margin-bottom: 15px;
}
.form-Departemant .form-content form textarea{
    margin-top: 5px;
}
.form-Departemant .address-content {
    height: 620px;
}
.form-Departemant .form-content form .submit-button{
    font-size: 17px;
}
}
@media (max-width: 620px){
    .form-Departemant{
        padding-bottom: 60px;
    }
    .form-Departemant .address-content{
        display: none;
    }
    .form-Departemant .form-content h2{
        font-size: 15px;
        font-weight: 300;
    }
}
