:root{
    --background-color: #2271b3;
    --background-col: #ffffff;
    --color-h3-icon: #1572b5;
    --color-p: #afb0af;
    --border-color-p: #e1e1e1;
    --background-add-inquiry: #11954c;
    --border-color-inquiry: #ffffff;
}
.inquiries-departemant{
    display: flex;
    width: 100%;
    height: 100vh;
   /* margin-top: -116px;*/
    position: relative;
    z-index: 500;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden !important;
}
.inquiries-departemant .hanger-Name{
    width: 45%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inquiries-departemant .inquiries-Details{
    width: 55%;
    padding-right: 180px;
}
.inquiries-departemant .hanger-Name .col-one,
.inquiries-departemant .hanger-Name .col-materials{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-col);
    padding: 5px 15px;
    width: 340px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.inquiries-departemant .hanger-Name .col-materials{
    margin-top: 20px;
}
.inquiries-departemant .hanger-Name .col-one h3,
.inquiries-departemant .hanger-Name .col-Size div h3,
.inquiries-departemant .hanger-Name .col-Color .color h3,
.inquiries-departemant .hanger-Name .col-materials h3{
    color: var(--color-h3-icon);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}
.inquiries-departemant .hanger-Name .col-one p,
.inquiries-departemant .hanger-Name .col-Size div p,
.inquiries-departemant .hanger-Name .col-Color .color p,
.inquiries-departemant .hanger-Name .col-materials p{
    margin-top: 10px;
    border-width: 9px;
    border-style: solid;
    border-color: var(--color-h3-icon) transparent transparent transparent;
}
.inquiries-departemant .hanger-Name .col-Size,
.inquiries-departemant .hanger-Name .col-Color{
    margin-top: 20px;
    width: 340px;
    background-color: var(--background-col);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.inquiries-departemant .hanger-Name .col-Size div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color-p);
    padding-bottom: 25px;
}
.inquiries-departemant .hanger-Name .col-Size div h3,
.inquiries-departemant .hanger-Name .col-Color .color h3{
    padding-top: 10px;
    padding-left: 15px;
}
.inquiries-departemant .hanger-Name .col-Size div p,
.inquiries-departemant .hanger-Name .col-Color .color p{
    padding-top: 10px;
    margin-right: 15px;
}
.inquiries-departemant .hanger-Name .col-Size .paragraph{
    border-bottom: 1px solid var(--border-color-p);
    padding: 4px 15px;
    text-transform: uppercase;
    color: var(--color-p);
}
.inquiries-departemant .hanger-Name .col-Size .paragraph:last-child{
    margin-bottom: 50px;
}
.inquiries-departemant .hanger-Name .col-Color .color{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color-p);
}
.inquiries-departemant .hanger-Name .col-Color .color h3,
.inquiries-departemant .hanger-Name .col-Color .color p{
    margin-bottom: 20px;
}
.inquiries-departemant .hanger-Name .col-Color .white,
.inquiries-departemant .hanger-Name .col-Color .black{
    display: flex;
    border-bottom: 1px solid var(--border-color-p);
    padding: 4px 15px;
}
.inquiries-departemant .hanger-Name .col-Color .black{
    margin-bottom: 40px;
}
.inquiries-departemant .hanger-Name .col-Color .white .paragraph,
.inquiries-departemant .hanger-Name .col-Color .black .paragraph{
    text-transform: uppercase;
    color: var(--color-p);
    margin-right: 15px;
}
.inquiries-departemant .hanger-Name .col-Color .white .icon,
.inquiries-departemant .hanger-Name .col-Color .black .icon{
    width: 20px;
    border: 1px solid var(--border-color-p);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.inquiries-departemant .hanger-Name .col-Color .black .icon{
    background-color: #0b0b0c;
}
.inquiries-departemant .hanger-Name .col-logo{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 340px;
}
.inquiries-departemant .hanger-Name .col-logo h3{
    text-align: start;
    padding-left: 15px;
    text-transform: uppercase;
    color: var(--background-col);
    font-size: 17px;
    font-weight: 400;
}
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    margin-top: 10px;
}
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .no,
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .yes{
    display: flex;
    height: 20px;
}
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .no .icon,
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .yes .icon{
    width: 20px;
    background-color: var(--background-col);
    margin-right: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .no .paragraph,
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .yes .paragraph{
    text-transform: uppercase;
    color: var(--background-col);
    font-size: 17px;
    letter-spacing: 1px;
}
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .upload-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 7px;
    margin-top: -10px;
    margin-left: 10px;
    width: 170px;
    background-color: var(--background-col);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .upload-logo .paragraph{
    text-transform: uppercase;
    color: var(--color-h3-icon);
    font-size: 15px;
}
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .upload-logo div{
    background-color: var(--color-h3-icon);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .upload-logo div .icon{
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
    margin-top: -10px;
}
.inquiries-departemant .hanger-Name .add-inquiry{
    background-color: var(--background-add-inquiry);
    width: 340px;
    padding: 10px 5px;
    text-align: center;
    border:  1px solid var(--border-color-inquiry);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.inquiries-departemant .hanger-Name .add-inquiry p{
    text-transform: uppercase;
    color: var(--background-col);
    cursor: pointer;
}
.inquiries-departemant .inquiries-Details{
    margin-top: 130px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.inquiries-departemant .inquiries-Details .content-Details{
    position: relative;
    border-left: 2px solid var(--background-color);
    padding-left: 50px;
    height: 450px;
}
.inquiries-departemant .inquiries-Details .content-Details .heading{
    margin-bottom: 50px;
}
.inquiries-departemant .inquiries-Details .content-Details .heading h3{
    text-transform: uppercase;
    color: var(--color-h3-icon);
    font-weight: 300;
}
.inquiries-departemant .inquiries-Details .content-Details .model-MH{
    border-bottom: 2px solid var(--border-color-p);
    padding-bottom: 20px;
}
.inquiries-departemant .inquiries-Details .content-Details .model-MH p,
.inquiries-departemant .inquiries-Details .content-Details .model-RH p{
    text-transform: uppercase;
    color: var(--color-p);
    line-height: 1.6;
}
.inquiries-departemant .inquiries-Details .content-Details .model-RH{
    padding-top: 20px;
}
.inquiries-departemant .inquiries-Details .content-Details .number-One,
.inquiries-departemant .inquiries-Details .content-Details .number-two{
    position: absolute;
    left: -10px;
    background-color: var(--color-h3-icon);
    color: var(--background-col);
    width: 20px;
    padding: 1px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.inquiries-departemant .inquiries-Details .content-Details .number-One{
    top: 75px;
}
.inquiries-departemant .inquiries-Details .content-Details .number-two{
    top: 245px;
}
.inquiries-departemant .inquiries-Details .send-inquiry{
    display: flex;
    justify-content: center;
    background-color: var(--background-add-inquiry);
    width: 340px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px;
    transition: background-color 0.5s ease;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}
.inquiries-departemant .inquiries-Details .send-inquiry:hover{
    background-color: var(--background-color);
}
.inquiries-departemant .inquiries-Details .send-inquiry p{
    text-transform: uppercase;
    color: var(--background-col);
    cursor: pointer;
}
.p-size,
.p-color,
.p-materials{
    cursor: pointer;
}
.col-Size{
    border-radius: 12px !important;
}
.content-size{
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.content-size:hover{
    background-color: #1572b5;
    color: white !important;
}
.loading-p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 17px;
    color: #1572b5;
}
.col-Color{
   border-radius: 12px !important;
}
.content-color{
    height: 35px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.5s ease;
}
.color-name{
    width: 70px;
    text-align: start;
}
.icon-color{
    width: 22px !important;
    height: 22px !important;
    border-radius: 50%;
}
.col-materials{
    border-radius: 12px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-materials.show{
    height: 200px;
    transition: height 0.5s ease;
}
.col-materials div{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}
.all-materials{
    margin-top: 20px;
    width: 340px;
    height: 0px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    transition: height 0.5s ease;
}
.all-materials.show{
    height: 170px;
}
.all-materials div{
    cursor: pointer;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    text-transform: uppercase;
    color: var(--color-p);
    display: flex;
    justify-content: start;
    align-items: center;
     border-bottom: 1px solid var(--border-color-p);
}
.col-Yes-and-No .no .icon,
.col-Yes-and-No .yes .icon{
    cursor: pointer;
}
.col-Yes-and-No .no .icon.click-no,
.col-Yes-and-No .yes .icon.click-yes{
   background-color: #11954c !important;
   border: 1px solid white;
}
.upload-logo{
    cursor: pointer;
}
.upload-logo .icon{
    cursor: pointer;
}

/* Update-Changes-Inquiries */

.All-Names-Products{
    width: 340px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 12px;
   height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: height 0.5s ease;
}
.All-Names-Products p{
    padding-left: 15px;
    height: 35px;
    color: var(--color-p);
    border-bottom: 1px solid var(--color-p);
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
.All-Names-Products.show{
    height: fit-content;
    opacity: 1;
}
.col-one{
    cursor: pointer;
}
.active-click {
  background-color: #11954c;
  color: white !important;
}
.col-Size,
.hanger-Name .col-one,
.col-Color .color,
.col-materials{
    width: 100%;
    height: 40px !important;
}
.hanger-Name .col-one,
.col-Color .color{
    border-radius: 12px !important;
}
.col-Size div,
.new-col-size,
.col-Color .color,
.col-materials div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    border-bottom: none !important;
    margin-bottom: 0px !important;
    text-align: center;
    cursor: pointer;
}
.col-Size div .icon-size{
    margin-top: 30px !important;
}
.all-colors-product{
    margin-top: 20px;
}
.col-Color .color h3{
    margin-top: 10px !important;
}
.col-Color .color .p-color{
    margin-top: 30px !important;
}
.col-materials{
    position: relative;
    z-index: 1000;
}
.col-Size{
    margin-bottom: 20px;
}
.All-sizes-Product,
.all-colors-product,
.all-materials{
    width: 340px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    background-color: white;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    transition: height 0.5s ease;
}
.All-sizes-Product.show,
.all-colors-product.show,
.all-materials.show{
    height: fit-content;
    opacity: 1;
}
.All-sizes-Product .col-size,
.all-colors-product .content-color{
    height: 35px;
    border-bottom: 1px solid #afb0af;
    padding-left: 10px;
    color: #afb0af;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    margin: 0;
}
.hanger-Name .col-one{
    margin-bottom: 10px;
}
.loading-data,
.col-size .loading-data{
    width: 100%;
    text-align: center !important;
    margin-top: 20px   !important;
    margin-bottom: 20px !important;
    color: #afb0af;
}
.col-size .loading-data{
    border-color: #ffffff !important;
}
.All-sizes-Product{
    border-bottom: transparent !important;
}
.content-Details{
    height: fit-content !important;
}
.col-quantity{
    margin-top: 20px;
    width: 340px;
    height: 35px;
}
.col-quantity input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 15px;
    color: #1572b5;
    padding: 10px;
    opacity: 0;
}
.col-quantity input.show{
    opacity: 1;
}
.col-quantity input::placeholder{
    padding-left: 5px;
}
@media (max-width: 1200px){
    .inquiries-departemant .hanger-Name{
        width: 37%;
    }
}
@media (max-width: 1100px){
    .inquiries-departemant .hanger-Name{
        width: 34%;
    }
    .inquiries-departemant .hanger-Name .col-one,
    .inquiries-departemant .hanger-Name .col-Color,
    .inquiries-departemant .hanger-Name .col-logo,
    .inquiries-departemant .hanger-Name .col-materials,
    .inquiries-departemant .hanger-Name .col-Yes-and-No,
    .inquiries-departemant .hanger-Name .col-Size,
    .inquiries-departemant .hanger-Name .add-inquiry,
    .inquiries-departemant .inquiries-Details .send-inquiry,
    .All-sizes-Product,
    .all-colors-product,
    .all-materials,
    .All-Names-Products,
    .col-quantity{
        width: 300px;
    }
}
@media (max-width: 992px){
    .inquiries-departemant .hanger-Name .col-one,
    .inquiries-departemant .hanger-Name .col-Color,
    .inquiries-departemant .hanger-Name .col-logo,
    .inquiries-departemant .hanger-Name .col-materials,
    .inquiries-departemant .hanger-Name .col-Yes-and-No,
    .inquiries-departemant .hanger-Name .col-Size,
    .inquiries-departemant .hanger-Name .add-inquiry,
    .inquiries-departemant .inquiries-Details .send-inquiry,
    .all-materials,
    .All-Names-Products.show,
    .All-sizes-Product,
    .all-colors-product,
    .all-materials,
    .All-Names-Products,
    .col-quantity{
        width: 250px;
    }
    .inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No{
        flex-direction: column;
        gap: 20px;
    }
    .inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No div{
        display: flex;
    }
    .inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .upload-logo{
        width: 250px;
        margin-left: -15px;
        margin-top: 10px;
    }
}
@media (max-width: 860px){
    .inquiries-departemant{
        flex-direction: column;
        margin-top: 20px;
    }
    .inquiries-departemant .hanger-Name{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .inquiries-departemant .hanger-Name .col-one,
    .inquiries-departemant .hanger-Name .col-Color,
    .inquiries-departemant .hanger-Name .col-logo,
    .inquiries-departemant .hanger-Name .col-materials,
    .inquiries-departemant .hanger-Name .col-Yes-and-No,
    .inquiries-departemant .hanger-Name .col-Size,
    .inquiries-departemant .hanger-Name .add-inquiry,
    .inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .upload-logo,
    .inquiries-departemant .inquiries-Details .send-inquiry,
    .all-materials,
    .All-sizes-Product,
    .all-colors-product,
    .all-materials,
    .All-Names-Products,
    .col-quantity{
        width: 350px !important;
    }
    .inquiries-departemant .inquiries-Details{
        width: 100%;
        margin-left: 0;
        padding: 20px 100px;
        margin-top: 40px;
    }
}
@media (max-width: 500px){
    .inquiries-departemant .hanger-Name .col-one,
    .inquiries-departemant .hanger-Name .col-Color,
    .inquiries-departemant .hanger-Name .col-logo,
    .inquiries-departemant .hanger-Name .col-materials,
    .inquiries-departemant .hanger-Name .col-Yes-and-No,
    .inquiries-departemant .hanger-Name .col-Size,
    .inquiries-departemant .hanger-Name .add-inquiry,
    .inquiries-departemant .hanger-Name .col-logo .col-Yes-and-No .upload-logo,
    .inquiries-departemant .inquiries-Details .send-inquiry,
    .all-materials,
    .All-sizes-Product,
    .all-colors-product,
    .all-materials,
    .All-Names-Products,
    .col-quantity{
        width: 300px !important;
    }
    .inquiries-departemant .inquiries-Details .send-inquiry{
        margin-top: 20px;
    }
}
@media (max-width: 450px){
    .inquiries-departemant .inquiries-Details{
        padding: 20px 30px;
    }
}
@media (max-width: 992px) {
    .inquiries-departemant{
        position: relative;
      /*  z-index: 222222222222222222222;*/
    }
    .inquiries-departemant .inquiries-Details{
        padding-bottom: 100px !important;
    }
}
@media (max-width: 768px) {
   /* .inquiries-departemant{
        margin-top: -120px;
    }*/
    .inquiries-departemant .hanger-Name{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (min-width: 768px) {
    .return-home-icon{
        display: none;
    }
}
.col-logo{
    margin-top: 40px !important;
}
.All-Names-Products,
.All-sizes-Product,
.all-colors-product,
.all-materials{
    max-height: 150px;
    overflow-y: auto;
    border-radius: 12px !important;
    padding-top: 0;
    padding-bottom: 0;
    scrollbar-gutter: stable;
   border-radius: 4px !important;
   margin-bottom: 20px;
}
.All-Names-Products .product-name,
.All-sizes-Product .col-size,
.all-colors-product .content-color,
.all-materials div{
    height: 50px;
}
.All-Names-Products .product-name:last-child,
.All-sizes-Product  .col-Size:last-child{
    border-bottom: transparent !important;
}
.All-sizes-Product .active-click,
.all-colors-product .active-click,
.all-materials .active-click{
    border-color: #11954c;
}
.col-quantity{
    margin-bottom: 0px;
}
.add-inquiry{
    margin-top: 10px;
}
.col-no-details{
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
}
@media (min-width: 768px){
    .col-icon-Left{
        display: none;
    }
}
.col-icon-Left{
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    left: 60px;
}
.col-icon-Left div{
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.col-icon-Left div .icon{
    color: #1572b5;
}
@media (max-width: 850px){
    .inquiries-departemant{
    height: fit-content;
}
}
@media (max-width: 768px){
    .inquiries-departemant{
        margin-top: 120px;
    }
}
.col-sizes{
    border-bottom: 1px solid #afb0af;
    cursor: pointer;
}