:root{
    --color-text-nav: #ffffff;
    --color-link-nav: #09609a;
  }
.nav .container{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
@media (min-width: 1200px){
    .nav .container{
        padding-left: 80px;
        padding-right: 40px;
    }
}
.nav .container{
    width: 100%;
}
.nav .container .header-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.nav .container .header-content .img-logo{
    width: 140px;
    z-index: 2;
}
.nav .container .header-content .img-logo img{
    width: 100%;
    height: 100%;
}
.nav .container .header-content .icon-bars{
    display: none;
    z-index: 70;
}
.nav .container .header-content ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    width: 70%;
    z-index: 1000;
}
.nav .container .header-content ul li{
    text-align: center;
    margin-left: 60px;
    position: relative;
}
.nav .container .header-content ul li::before,
.nav .container .header-content ul li::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -10px;
    background-color: var(--color-link);
    transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
}
.nav .container .header-content ul li::before{
    left: 50%;
}
.nav .container .header-content ul li::after{
    right: 50%;
}
.nav .container .header-content ul li:hover::before,
.nav .container .header-content ul li:hover::after{
    width: 50%;
}
.nav .container .header-content ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}
@media (max-width: 768px){
    .nav .container .header-content ul li:nth-child(1) a{
        color: var(--color-text);
    }
}
@media (max-width: 992px){
    .nav .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 768px){
    .nav .container .header-content ul li a:hover{
        color: var(--color-link);
    }
}
@media (max-width: 768px){
    .nav .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav .container .header-content .icon-bars{
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: var(--color-link);
    }
    .nav .container .header-content ul{
        position: absolute;
        z-index: 1000;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        opacity: 0;
        left: 0;
        top: 110px;
        background-color: var(--color-link);
        padding: 15px;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
        -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
        -o-transition: opacity 1s ease;
}
    .nav .container .header-content ul.active{
        opacity: 1;
    }
    .nav .container .header-content ul::before{
        content: "";
        position: absolute;
        right: 8px;
        top: -27px;
        border-width: 15px;
        border-style: solid;
        border-color: transparent transparent var(--color-link) transparent;
    }
    .nav .container .header-content ul li::before,
    .nav .container .header-content ul li::after{
        display: none;
    }
    .nav .container .header-content ul li:not(:last-child){
        margin-bottom: 15px;
    }
    .nav .container .header-content ul li{
        margin-left: 5px;
        width: 100%;
        text-align: start;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--color-text);
    }
    .nav .container .header-content ul li:last-child{
        border: none;
        padding-bottom: 0;
    }
    .nav .container .header-content ul li a{
        color: var(--color-text);
    }
}
@media (min-width: 768px) and (max-width: 992px){
   .nav .container .header-content ul li{
    margin-left: 40px;
   }
}
@media (max-width: 768px){
    .nav .container .header-content ul li{
        padding-left: 6px;
        padding-right: 15px;
       }
}