.navbar-categories{
    width: 100%;
    height: 64px;
    background-color: #E4E4E4;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    gap: 24px;
    align-items: center;
    position: relative;
    z-index: 1;
}
li{
    list-style-type: none;
}
.all-links-categories{
    width: 100%;
    display: flex !important;
    gap: 30px;
}
.all-links-categories div,
.all-links{
    width: fit-content;
    height: 32px;
    border-radius: 4px;
    padding: 8px 16px;
}
.all-links-categories div a,
.all-links a{
     font-size: 16px;
    color: #0673B7;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.all-links a{
    color: white;
}
.category-item {
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.category-item:hover {
    background-color: #e0e0e0; 
}

.category-item.active {
    background-color: #0673B7;
}

.category-item.active a {
    color: #fff; 
}

.category-item a {
    color: #0673B7;
    text-decoration: none;
}
.navbar-categories{
    margin-top: -30px;
    margin-bottom: 40px;
}
@media (max-width: 768px){
    .navbar-categories{
        margin-top: 120px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .all-btn{
        gap: 10px !important;
    }
    .all-links-categories div,
    .all-links{
        height: 25px !important;

    }
}
