@media (max-width: 992px){
    .hanger-Content{
        left: 20px !important;
        top: 100px !important;
    }
}
@media (max-width: 768px){
    .services{
        height: 60vh !important;
    }
    .services .content-text{
        height: 270px !important;
    }
}