:root{
    --background: #07934b;
    --color-text: #ffffff;
}
.plan-content{
    position: relative;
    width: 100%;
}
.plan-content .container-Map{
    position: absolute;
    width: 100%;
    height: 100%;
}
@media (max-width: 992px){
    .plan-content{
        width: 100%;
        height: 500px;
    }
}
@media (max-width: 520px){
    .plan-content{
        height: 250px;
    }
}