:root{
    --background: #07934b;
    --color-text: #ffffff;
}
.plan-content{
    position: relative;
    width: calc(100% - 120px);
    margin-left: 120px;
    height: 700px;
    /*margin-bottom: -5px;
    margin-top: -15px;*/
}
.plan-content .container-Map{
    position: absolute;
    width: 100%;
    height: 100%;
}
@media (max-width: 992px){
    .plan-content{
        margin-left: 0;
        width: 100%;
        height: 500px;
    }
}
@media (max-width: 520px){
    .plan-content{
        height: 400px;
    }
}
/*.plan-content img{
    position: absolute;
    width: 100%;
    height: 100%;
}
@media (max-width: 992px){
    .plan-content{
        width: 100%;
        margin-left: 0;
        height: 60vh;
    }
}
@media (max-width: 768px){
    .plan-content{
        height: 50vh;
    }
}*/
.plan-content .text-content{
    position: absolute;
    z-index: 1;
    background-color: var(--background);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
    bottom: 0;
    width: 300px;
    height: 160px;
    padding: 40px;
}
.plan-content .text-content h2:nth-child(1){
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 60px;
}
.plan-content .text-content .head{
    font-size: 18px;      
    font-weight: 400;
}
@media (max-width: 620px){
    .plan-content .text-content{
        display: none;
    }
}