.product-contain{
    width: 100%;
    min-height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #f6f6f6;
    padding-bottom: 100px;
}
@media (min-width: 1800px){
    .product-contain{
        padding-left: 400px;
        padding-right: 400px;
    }
}
@media (max-width: 1500px){
    .product-contain{
        padding-left: 100px;
        padding-right: 100px;
    }
}
.product-contain .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.product-contain .container .contain-product-1{
    width: 505px;
    height: 580px;
    margin-top: 100px;
}
.main-image-product{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contain-product-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title-product{
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    letter-spacing: 0.5px;
}
.main-image-product .product-img{
    width: 200px;
    height: 200px;
}
.main-image-product .right-icon,
.main-image-product .left-icon{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.all-images-product{
    display: flex;
    gap: 16px;
}
.all-images-product .col-image{
    width: 120px !important;
    height: 100px !important;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.all-images-product .col-image img{
    width: 100%;
    height: 100%;
}
/**/
/**/
/**/
/**/

.product-information{
    width: 400px;
    height: fit-content;
    padding: 24px;
    border: 1px solid  #BDBDBD;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 48px;
   
}
.product-contain .container .product-information .all-colors{
    margin-top: 30px;
}
.product-contain .container .product-information .all-colors,
.product-contain .container .product-information .all-Sizes,
.raw-material-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}
.all-colors p,
.all-Sizes .title-sizes,
.raw-material-content .title-material{
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.5px;
}
.product-contain .container .product-information .all-colors .content-bullets,
.all-raw-materials,
.content-sizes{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.product-contain .container .product-information .all-colors .content-bullets-colors{
    position: relative;
    z-index: 10;
    display: flex;
    gap: 20px;
}
.product-contain .container .product-information .all-colors .content-bullets-colors ul li{
    width: 32px;
    height: 32px;
    border-radius: 50px;
}
.col-size,
.all-raw-materials .raw-material{
    width: 82px;
    height: 32px;
    padding: 4px;
    border: 1px solid #0673B7;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #0673B7;
}
.col-addTocart{
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: 48px;
    background-color: #0673B7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}
.col-addTocart p{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}
@media (max-width: 1200px){
    .product-contain{
        padding-left: 40px;
        padding-right: 40px;
    }
    .product-contain .container .contain-product-1{
        width: 450px;
    }
    .product-contain .container .product-information{
        width: 350px;
     
    }
    .all-colors p,
    .all-Sizes .title-sizes,
    .raw-material-content .title-material{
        font-size: 25px;
    }
    .col-addTocart p{
        font-size: 17px;
        font-weight: 400;
    }
}
@media (max-width: 1200px){
    .product-contain .container{
        flex-direction: column;
        justify-content: center;
    }
    .product-contain .container .product-information{
        width: 400px;
    }
     .contain-product-images{
        width: 100%;
        justify-content: center;
    }
     .product-contain{
        margin-top: -50px;
    }
}
@media (max-width: 768px){
    .product-contain{
        margin-top: -400px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 600px){
    .product-contain{
        padding-left: 10px;
        padding-right: 10px;
    }
    .product-contain .container .product-information,
    .product-contain .container .contain-product-1{
        width: 100%;
    }
    .all-images-product .col-image{
        width: 100px;
        height: 80px;
    }
    .all-images-product{
        flex-wrap: wrap;
        width: 100%;
    }
    .main-image-product{
        width: 100%;
    }
}
.loading-data{
    width: 100%;
}
.col-btn-icon{
    min-width: 35px !important;
    min-height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: white;
    background-color: #BDBDBD;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
@media (max-width: 992px){
    .product-contain{
        margin-top: 20px;
    }
}
@media (max-width: 768px){
    .product-contain{
         margin-top: 40px;
    }
}
.btn-color-product{
    cursor: pointer;
}
.col-size,
.raw-material{
    cursor: pointer;
}
.col-size.click,
.raw-material.click{
    background-color: #0673B7;
    border: none;
    color: white;
}
.col-addTocart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-addTocart p{
    text-transform: capitalize;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.product-img{
    min-width: 350px !important;
    min-height: 300px !important;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 40px;
}
.main-image-product{
    margin-top: 40px;
    margin-bottom: 40px;
}
@media (max-width: 768px){
    .main-image-product{
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
    }
    .product-img{
       min-width: 70% !important;
       min-height: 100% !important;
        margin-left: 15px;
        margin-right: 15px;
    }
    .col-btn-icon{
        min-width: 30px;
        min-height: 30px;
        font-size: 17px;
    }
}
.btn-color-product {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.btn-color-product.click {
  border: 2px solid #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
  transform: scale(1.1); 
}
.product-img{
    transition: all 0.3s ease;
}
.product-img:hover{
    transform: scale(1.1); 
}
.contain-product-1{
    margin-top: -600px;
}
@media (max-width: 768px){
    .product-contain .container{
        margin-top: 40px;
    }
}