:root{
    --color-text-hangur: #2271b3;
    --border-color-hangur: #5c92b5;
    --background-p-one: #ffffff;
    --background-p-two: #f1f1f1;
}
.products-home{
    height: 900px;
    width: 100%;
    margin-top: -116px;
    position: relative;
}
.products-home img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.products-home .container{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.products-home .container .p-one{
    padding: 20px;
    background-color: var(--background-p-two);
    text-align: start;
    writing-mode: vertical-rl;
    height: 280px;
    font-size: 25px;
    color: var(--color-text-hangur);
    background-color: var(--background-p-two);
    border-right: 1px solid var(--border-color-hangur);
    width: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    transition: background-color 0.5s ease, height 0.5s ease, width 0.5s ease;
    -webkit-transition: background-color 0.5s ease, height 0.5s ease, width 0.5s ease;
    -moz-transition: background-color 0.5s ease, height 0.5s ease, width 0.5s ease;
    -ms-transition: background-color 0.5s ease, height 0.5s ease, width 0.5s ease;
    -o-transition: background-color 0.5s ease, height 0.5s ease, width 0.5s ease;
}
@media (min-width: 768px){
    .products-home .container .p-one:hover {
            background-color: var(--background-p-one);
            height: 280px;
            width: 380px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid var(--color-text-hangur);
            writing-mode: unset;
            -webkit-writing-mode: unset;
            -ms-writing-mode: unset;
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
        }
}
@media (min-width: 768px) and (max-width: 992px){
    .products-home .container .p-one:hover{
        width: 250px;
        font-size: 20px;
        text-align: center;
    }
}
.products-home .container .p-hangers{
    background-color: var(--background-p-one);
    cursor: pointer;
    font-size: 25px;
    height: 280px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--color-text-hangur);
    border-right: 1px solid var(--border-color-hangur);
    transition: height 0.5s ease, width 0.5s ease;
    -webkit-transition: height 0.5s ease, width 0.5s ease;
    -moz-transition: height 0.5s ease, width 0.5s ease;
    -ms-transition: height 0.5s ease, width 0.5s ease;
    -o-transition: height 0.5s ease, width 0.5s ease;
}
@media (min-width: 768px){
    .products-home .container .p-hangers.hovered {
            padding: 20px;
            background-color: var(--background-p-two);
            text-align: start;
            writing-mode: vertical-rl;
            height: 280px;
            font-size: 25px;
            color: var(--color-text-hangur);
            background-color: var(--background-p-two);
            border-right: 1px solid var(--border-color-hangur);
            width: 100px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: vertical-rl;
        }
}
@media (max-width: 768px){
    .products-home{
        height: 800px;
    }
    .products-home .container{
        height: 250px;
    }
    .products-home .container .p-one{
        height: 250px;
        width: 80px;
        font-size: 22px;
    }
    .products-home .container .p-hangers{
        font-size: 22px;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: flex-start;
        padding-top: 20px;
        height: 250px;
        width: 80px;
        writing-mode: vertical-rl;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
}
}
@media (max-width: 550px){
    .products-home{
        margin-bottom: 200px;
    }
    .products-home .container{
        position: absolute;
        left: 0;
    }
}
@media (max-width: 450px){
    .products-home{
        height: 700px;
    }
    .products-home .container{
        height: 200px;
    }
    .products-home .container .p-one,
    .products-home .container .p-hangers{
        height: 200px;
        width: 50px;
        font-size: 17px;
    }
}
