.section-about3{
    width: 100%;
    height: 480px;
    background-color: #E4E4E4;
    margin-top: 20px;
    margin-bottom: 40px;
}
.section-about3 .container{
    width: 100%;
    height: 100%;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.section-about3 .container h2{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #000000;
    letter-spacing: 0.5px;
}
.section-about3 .container .our-services{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 24px;
    justify-content: center;
}
.section-about3 .container .our-services .col-service{
    width: 340px;
    height: 350px;
    padding: 16px;
    border-radius: 8px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.section-about3 .container .our-services .col-service img{

}
.section-about3 .container .our-services .col-service h3{
    font-size: 28px;
    font-weight: 600;
    color: #0C0D0D;
    text-align: center;
    width: 250px;
    line-height: 1.3;
}
.section-about3 .container .our-services .col-service p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #9E9E9E;
    line-height: 1.3;
}
@media (max-width: 1400px){
    .section-about3{
        height: 100%;
    }
    .section-about3 .container .our-services{
       gap: 40px;
        flex-wrap: wrap;
        height: 100%;
    }
}
@media (max-width: 850px){
    .section-about3 .container .our-services{
        width: 100%;
        justify-content: center;
    }
}
@media (max-width: 768px){
    .section-about3 .container .our-services .col-service h3{
        font-size: 24px;
    }
    .section-about3 .container h2{
        font-size: 35px;
    }
}
