:root{
    --background-color: #2271b3;
    --text-color: #ffffff;
}
.services{
    position: relative;
    width: 100%;
    height: 850px;
    margin-bottom: -9px;
}
.services img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.services .img-background{
    position: absolute;
    width: 100%;
    height: 100%;
}
.services .img-background .img-product{
    width: 500px;
    height: 100%;
    right: 0;
    z-index: 1000;
}
.services .services-content{
    position: absolute;
    width: calc(100% - 120px);
    z-index: 1;
    margin-top: 245px;
    margin-left: 120px;
}
.services .services-content .heading-services{
    height: 300px;
    width: 280px;
    background-color: var(--background-color);
}
.services .services-content .heading-services h1{
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    padding-left: 30px;
    position: relative;
}
.services .services-content .heading-services h1::before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 30px;
    width: 40px;
    height: 2px;
    background-color: var(--text-color);
}
.services .services-content .content-text{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: var(--background-color);
    padding-left: 30px;
    padding-top: 60px;
}
.services .services-content .content-text p{
    width: 35%;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.4;
    margin-right: 150px;
}
@media (max-width: 1350px){
    .services .services-content .content-text p{
        width: 50%;
    }
}
.services .services-content .content-text ul li{
    position: relative;
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.services .services-content .content-text ul li::before{
    content: "";
    position: absolute;
    left: -35%;
    top: 50%;
    width: 30px;
    height: 3px;
    background-color: var(--text-color);
}
@media (max-width: 992px){
    .services .services-content .content-text p{
        margin-right: 80px;
        width: 55%;
    }
}
@media (max-width: 992px){
    .services .services-content{
        width: 100%;
        margin-left: 0;
    }
    .services .services-content .content-text{
        justify-content: space-between;
    }
    .services .services-content .content-text p{
        width: 60%;
        margin-right: 0;
    }
    .services .services-content .heading-services{
        width: 220px;
    }
    .services .services-content .heading-services h1{
        font-size: 30px;
    }
    .services .services-content .content-text ul{
        margin-right: 20px;
    }
    .services .services-content .content-text ul li::before{
        left: -25%;
        width: 20px;
        height: 2px;
    }
}
@media (max-width: 768px){
        .services {
                height: 620px;
            }
            .services .services-content {
                margin-top: 95px;
            }
        
            .services .services-content .content-text {
                height: 220px;
            }
        
            .services .services-content .content-text p {
                margin-top: 20px;
            }
    .services .img-two{
        z-index: 15;
    }
    .services .services-content .content-text ul{
        display: none;
    }
    .services .services-content .content-text p{
        width: 85%;
    }
}
@media (max-width: 550px){
    .services{
        position: relative;
        height: 500px;
    }
    .services .services-content{
        position: absolute;
        margin-top: 115px;
    }
    .services .img-two{
        z-index: 5;
    }
    .services .services-content .heading-services{
        width: 170px;
        height: 200px;
    }
    .services .services-content .heading-services h1{
        font-size: 22px;
    }
    .services .services-content .heading-services h1::before{
        width: 35px;
        height: 1px;
    }
    .services .services-content .content-text{
        height: 180px;
        padding-top: 40px;
    }
    .services .services-content .content-text p{
        width: 100%;
        margin-right: 20px;
        margin-top: 20px;
        font-size: 13px;
    }
}