.col-whatsapp{
    width: 60px;
    height: 60px;
    background-color: #25d366;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2000;
    cursor: pointer;
}
.col-whatsapp .icon{
    font-size: 30px;
    color: white;
}
@media (max-width: 768px){
    .col-whatsapp{
        width: 45px;
        height: 45px;
    }
    .col-whatsapp .icon{
        font-size: 27px;
    }
}