/*Start Global Rules*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  font-family: 'Open Sans', sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
ul{
  list-style-type: none;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  /*padding-left: 64px;
  padding-right: 64px;*/
  margin-left: auto;
  margin-right: auto;
}
:root{
  --color-text: #ffffff;
  --color-link: #09609a;
}
/*End Global Rules*/
/*Small*/
@media (min-width: 768px){
  .container{
    width: 750px;
  }
}
/*Medium*/
@media (min-width: 992px){
  .container{
    width: 970px;
  }
}
/*Large*/
@media (min-width: 1200px){
  .container{
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}
/**/
.content-new-business{
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}
.content-our-factory{
  width: 255px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.content-our-factory-mobile{
  margin-bottom: 10px;
}
.products-departament{
  height: fit-content;
}
.footer-product-only{
  margin-top: -600px !important;
  position: relative;
  z-index: -1;
}
.about-united-hanger{
  position: relative;
  width: 100% !important;
  height: 100vh !important;
}
@media (max-width: 768px) {
  .navbar-departament,
  .content-navbar{
    height: 80px !important;
  }
}

/**/
.image-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
   background-color: rgba(43, 42, 42, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    cursor: pointer;
}

.image-popup {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

